# Apollo Query
snippet aq
	<Query
	  query={${0:query}}}
	  variables={${1:{}}>
	  {({ data, loading, error }) => {
	    if (loading) return <LoadingHeader plainText />
	    if (error) return error.toString()
	    return ${2:null}
	  }}
	</Query>
