# Apollo Query
snippet aq
	<Query
	  query={${1}}
	  variables={${2}}>
	  {({ data, loading, error }) => {
	    if (loading) return <LoadingHeader plainText />
	    if (error) return error.toString()
	    return ${3:null}
	  }}
	</Query>
